{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container" style="margin: 50px;">
    <div class="display-2">
      <span class="badge bg-primary">Объявление пользователя "username"</span>
    </div>
  </div>
  <div class="col offset-2">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="#" class="nav-link">
            <img src="{% static 'img/adv.png' %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="nav-link"><strong>Продам гараж</strong></a>
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eum aut commodi dolores
              praesentium fugiat! Maxime perspiciatis iste, voluptas tenetur voluptatem at beatae, aliquid
              libero odit ab accusamus tempore assumenda.
              Hic asperiores pariatur recusandae sapiente doloremque illo laudantium placeat sed fugit!
              Dolorem nulla quaerat doloremque odit impedit unde esse dolorum tenetur quos error! Iure
              quas, illo expedita sed suscipit ullam.
              Illo quam odio, quas laborum natus error doloremque totam maiores dolorum fugit aliquam, sit
              numquam impedit praesentium facilis amet perspiciatis facere rem magnam consectetur, nobis
              est. Qui quod fuga illum.
            </p>
            <span>Автор: "username"</span>
            <p class="card-text"><small class="text-muted">Размещено: "дата"</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}